@import url('https://fonts.googleapis.com/css?family=Recursive&display=swap');

body {
    width: 100%;
    min-height: 100vh;
    background: #1d1c1a;
    color: #fdf5e0;
    font-family: 'Recursive', sans-serif;
}